/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/rnassembly -profile test
 */

params {
  config_profile_name = 'Test profile'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  // Input data
  readPaths = [
    ['sample1', ['data/example1/s1.R1.fastq.gz', 'data/example1/s1.R2.fastq.gz']],
    ['sample2', ['data/example1/s2.R1.fastq.gz', 'data/example1/s2.R2.fastq.gz']]
  ]
  // Genome references
  fasta = 'data/example1/genome.fa'
  gtf = 'data/example1/tx.gtf'
  tx = 'data/example1/tx.fa'
}
